.container {
  padding: 1.5rem 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 2px solid #f1f1f1;
  color: var(--accent2);
  opacity: 0.65;
}

.list_items_container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.list_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
