@import './typography.css';

:root {
  --primary: #17a030;
  --secondary: #1b153d;
  --accent2: #9095a6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 56rem;
  margin: auto;
  overflow-x: hidden;
  background: #fcfcff;
}

a {
  color: inherit;
  text-decoration: none;
}
