.headline {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.24px;
}

.headline2 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.24px;
}

.headline3 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.24px;
}

.subline {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.03em;
}

.text_small {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.24px;
}

.text_price {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.24px;
}

.text_price2 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 19px;
  letter-spacing: -0.24px;
}
